<h1> New Song Form</h1>

<%= form_tag "/songs" %>
<%= label_tag "Song Name" %>
<%= text_field_tag "song[name]", params[:name] %>

<%= label_tag "Artist ID" %>
<%= text_field_tag "song[artist_id]", params[:artist_id] %>

<%= label_tag "Genre ID" %>
<%= text_field_tag "song[genre_id]", params[:name] %>

<%= submit_tag 'Create Song' %>
